.leftbar {
    flex: 2;

    .container {
        padding: 20px;

        hr {
            margin: 20px 0px;
            height: 0.5px;
            border: none;
            background-color: lightgray;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }

                span {
                    font-size: 14px;
                }
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}